<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKM7AoeUpHwbHxa8vZEFGGB2GyTK2JGm4</string>
	<key>GCM_SENDER_ID</key>
	<string>28125280751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webbird.promptart</string>
	<key>PROJECT_ID</key>
	<string>promptartapp</string>
	<key>STORAGE_BUCKET</key>
	<string>promptartapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28125280751:ios:cfaf9bfd48f26fe38cde1a</string>
</dict>
</plist>